@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Pro';
  src: url('../public/fonts/lineto-circular-pro-book.ttf') format('ttf'),
       url('../public/fonts/lineto-circular-pro-book.woff2') format('woff2'),
       url('../public/fonts/lineto-circular-pro-book.woff') format('woff');
 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 ;
 
  box-sizing: border-box;
}


